/* ------------------------------------------------
 Author: ArtStyles (Art)
 
 Template Name: Documentation
 $version: "1.2";
------------------------------------------------ */

@import "bootstrap.min.css";
@import "animate.css";
@import "magnific-popup.css";

@import "../fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import "../fonts/stroke-gap-icons/style.css";

// Color
$white-color:            #fff;
$black-color:            #070707;
$tone-color:             #05f;
$gray-color-primary:     #f5f6f6;
$gray-color-second:      #787d86;
$red-color:              #ff5722;

// Font
$font-title:             'Playfair Display', serif;
$font-body:              'Roboto', sans-serif; 
$font-icons:             fontawesome;

// Media
$small-sm:               320px;
$small:                  580px;
$medium:                 768px;
$large:                  992px;
$large-xl:               1200px;
$large-xxl:              1500px;
$large-xxxl:             2400px;

// Weight
$weight-400:             400; //regular
$weight-500:             500; //medium
$weight-600:             600; //semi bold
$weight-700:             700; //bold

// Mixin
@mixin display($flex) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}

@mixin flex-wrap($value) {
  -webkit-flex-wrap: $value;
      -ms-flex-wrap: $value;
          flex-wrap: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
      -ms-flex-direction: $value;
          flex-direction: $value;
}

@mixin align-content($value) {
  -webkit-align-content: $value;
     -ms-flex-line-pack: $value;
          align-content: $value;
}

@mixin align-items($value) {
  -webkit-align-items: $value;
       -ms-flex-align: $value;
          align-items: $value;
}

@mixin transform($transform...) {
  -webkit-transform: $transform;
          transform: $transform;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
          animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html { 
  -webkit-text-size-adjust: 100%;  
}

body {
  background: $white-color;
  color: $black-color;
  font-family: $font-body;
  font-size: 16px;
  font-weight: $weight-400;
  line-height: 1.8; 
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  
  @media only screen and (max-width: $small) {
    font-size: 14px;
	line-height: 1.6; 
  }
}


/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: $font-body;
  font-weight: $weight-600;
  line-height: 1.2;
}

.title__h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  
  @media only screen and (max-width: $small) {
    font-size: 2.2rem;
	line-height: 1.32;
	margin-bottom: .6rem;
  }  
}

.title__h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  
  @media only screen and (max-width: $small) {
    font-size: 1.8rem;
  }
}

.title__h3 {
  font-size: 1.8rem;
  margin-bottom: .8rem;
  
  @media only screen and (max-width: $small) {
    font-size: 1.4rem;
  }
}

.title__h4 {
  font-size: 1.4rem;
  margin-bottom: .8rem;
  
  @media only screen and (max-width: $small) {
    font-size: 1rem;
  }
}

.title__h5 {
  font-size: 1rem;
  margin-bottom: .8rem;
  
  @media only screen and (max-width: $small) {
    font-size: .875rem;
  }
}

.title__display {
  font-size: 4.5rem;
  
  @media only screen and (max-width: $small) {
    font-size: 3rem;
  }
}

.section__subtitle {
  font-size: 1.1rem;
  
  @media only screen and (max-width: $small) {
    font-size: 1rem;
  }
}

.text-light {
  color: rgba($gray-color-second,.5)!important;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'
}

a {
  color: $tone-color;
  text-decoration: underline;
  -webkit-text-decoration-skip: objects;
  transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
  
  &:hover {
    color: $black-color;
    text-decoration: none;
  }
  
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

p {
  margin-bottom: .2rem;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
}

iframe {
  margin-top: 10px;
  width: 100%;
}

kbd {
  background: $black-color;
  font-size: .75rem;
}

.prettyprint {
  margin-bottom: 0;
  margin-top: .5rem;
}

::-moz-selection {background: $tone-color;color: $white-color;}
	 ::selection {background: $tone-color;color: $white-color;} 


/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */

.loading {
  background: $gray-color-primary;
  color: $black-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1100;
  
  .preloader {
     position:absolute;	
     top: 50%;
     left: 50%;
     width: 80px;
     height: 80px;
     margin-top: -60px;
     margin-left: -60px; 
	 
     & .rippling-1,
     & .rippling-2 {
       position:absolute;
       width: 120px;
       height: 120px;
       border-radius: 100%;
       background: $white-color;
       animation:preloader 1.6s linear infinite;
     }
	 
     & .rippling-2 {
         animation-delay: -0.8s;
     }
  }
}

@include keyframes(preloader) {
   0% {transform: scale(0, 0);opacity:1;}
   100% {transform: scale(1, 1);opacity:0;}
}


/* -----------------------------------------------------------------
    - Header
----------------------------------------------------------------- */

.navbar {
  background-color: $white-color;
  box-shadow: 0 0 60px rgba(16,19,26,.06);
  height: auto;
  padding: 1rem 15px 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform .3s ease-in-out;
  z-index: 1000;
  
  @media only screen and (max-width: $small) {
    padding: .8rem 0 1rem;
  }  
}

.nav {
  @include display(flex);
  list-style: none;
  position: relative;

  @media only screen and (max-width: $medium) {
	background-color: $white-color;
	box-shadow: 0 0 60px rgba(16,19,26,.04);
	height: auto;
	padding-top: 3.8rem;
	padding-bottom: .8rem;
	overflow: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	transform: translate3d(0, -100%, 0);
	transition: transform .4s ease-in-out, opacity .4s .2s ease-in-out;
	width: 100%;
    z-index: -1;	  
  }

  @media only screen and (min-width: $medium) {
    opacity: 1;
	transform: translate3d(0, 0, 0);
  } 
  
  .open & {
    @media only screen and (max-width: $medium) {
	  opacity: 1;
	  transform: translate3d(0, 0, 0);
	}
  }

  &__item {
    @include display(inline-flex);
	font-weight: $weight-500;
	margin: .5rem 0;
	padding-right: 3rem;
	
	&:last-child {
	  padding-right: 0;
	}

    @media only screen and (max-width: $medium) {
	  border-bottom: 1px solid $gray-color-primary;
	  margin: 0 30px;
	  padding-top: .5rem;
	  padding-bottom: .5rem;
	  width: 100%;
	}
  }
  
  &__link {
    color: $black-color;
    font-size: 1rem;
    text-decoration: none;
	position: relative;
	transition: all .6s cubic-bezier(.72,.16,.345,.875);
	
	&:hover {
	  text-decoration: none;
	  color: $tone-color;
	}	
  }  
}

// Logotype
.logo-link {
  display: block;
}

.logotype {
  height: 40px;
  position: relative;
  transition: transform .4s ease-in-out;
  
  @media only screen and (max-width: $small) {
    height: 16px;
  }
}
 
// Hamburger
.hamburger {
  cursor: pointer;
  display: block;
  transform: translate3d(0,0,0);
  transition: opacity .3s ease;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: middle;
  
  @media only screen and (min-width: $medium) {
    display: none;
	
	.navbar-compact & {
	  display: block;
	}
  }
  
  &__inner {
	display: block;
    height: 24px;
    width: 25px;
    position: relative;
	
    &:before, 
	&:after {
	  background-color: $black-color;
	  content: '';
	  display: block;
	  margin-left: -12px;
	  height: 2px;
      width: 25px;
      position: absolute;
      top: 6px;
      left: 50%;
      transform-origin: center center;
      transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) .25s, transform .25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
	
    &:after {
      top: 16px;
    }
	
	.is-active & {
      color: $black-color;
      &:before, &:after {
        top: 50%;
        transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform .25s cubic-bezier(0.215, 0.61, 0.355, 1) .1s;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}


/* -----------------------------------------------------------------
    - Heading page
----------------------------------------------------------------- */

.page-hero {
  background: linear-gradient(to bottom, #fff 0%, #f6f5f9 100%);
  color: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34vw;
  padding-top: 3rem;
  //padding-bottom: 8rem;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    content: '';
    display: block;
    background-image: url(../img/Subtract.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
	height: 120px;
    width: 150%;
    position: absolute;
	bottom: -1px;
    z-index: 1;
  }
  
  @media screen and (max-width: $large-xl) {
    height: 46vw;
  }
  
  @media screen and (max-width: $large) {
    height: 56vw;
  }
  
  @media screen and (max-width: $small) {
    height: 70vw;
  }  
  
  .title__display {
	margin-top: 0;
	margin-bottom: 2rem;
	
	@media screen and (max-width: $small) {
      margin-bottom: 1rem;
    }
  }
	
  .firts-paragraph {
	font-size: 1.2rem;
	margin-left: auto;
	margin-right: auto;
	opacity: .7;
	width: 60%;
	
	@media screen and (max-width: $large-xl) {
	  width: 80%;
	}
	
	@media screen and (max-width: $small) {
	  font-size: 1.1rem;
	  line-height: 1.6;
	  width: 100%;
	}
  }
}


/* -----------------------------------------------------------------
    - Sections
----------------------------------------------------------------- */

.container {
  max-width: 90vw;

  @media screen and (max-width: $small) {
    max-width: 100vw;
  }
	
  @media screen and (min-width: $large-xl) {
    max-width: 80vw;
  }
	
  @media screen and (min-width: $large-xxl) {
    max-width: 70vw;
  }	
}

.section {
  box-sizing: border-box;
  padding: 8vw 0;
  
  @media screen and (max-width: $small) {
    padding: 65px 0;
  }
  
  .heading {
    margin-bottom: 2.6rem;
	
	@media screen and (max-width: $small) {
      margin-bottom: 2rem;
    }
  }
  
  &__gray {
    background-color: rgba(#f6f5f9,.4);
  }
}

.shadow-box {
  border-radius: 6px;
  //border: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 0 1px rgba($gray-color-second,.05), // 0,0,0,.1
              0 3px 6px rgba($gray-color-second,.05), // 0,0,0,.05
			  0 10px 40px rgba($gray-color-second,.1);  //0,0,0,.1
}

// Alert box
.alert {
  border: none;
  padding: .3rem 1rem;
  border-radius: 4px;
  line-height: 1.5;
  margin-bottom: 1rem;
  
  &-info {
    color: rgba($tone-color,.6);
    background-color: rgba($tone-color,.08);
  }
  
  &-warning {
    color: rgba($red-color,.6);
    background-color: rgba($red-color,.08);
  }
}


.separation {
  border-bottom: 1px solid $gray-color-primary;
}


/* -----------------------------------------------------------------
    - Solution
----------------------------------------------------------------- */

.accordion {
  &__item {
    background-color: $white-color;
    margin-bottom: 1.5rem;
	
	@media only screen and (max-width: $small) {
	  margin-bottom: 1rem;
	}
  }
  
  &__header {
    display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 1.4rem 1.5rem 1.4rem;
	border-bottom: 1px solid rgba($gray-color-second,.15);
	cursor: pointer;
	
	&:hover {
	  color: $tone-color;
	  
	  .accordion__plus::after,
      .accordion__plus::before {
	    background-color: $tone-color;
	  }
	}
    
	@media only screen and (max-width: $small) {
	  padding: 1rem;
	}
	
	.title__h4 {
	  margin-bottom: 0;
	}
	
	&.collapsed {
	  .accordion__plus {
	    transform: rotate(90deg);
	  }
	  
	  .accordion__plus::after {
	    opacity: 0;
	  }
	}
  }
  
  &__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
	width: 1.5rem;
    position: relative;
    transition: all .15s ease-in-out;
    
	&::after,
	&::before {
	  content: '';
	  background-color: $black-color;
	  position: absolute;
	  transition: all .2s ease-out;
	}

	&::after {
	  height: 1px;
	  width: 100%;
	}
	  
	&::before {
	  height: 100%;
	  width: 1px;
	}
	
	@media only screen and (max-width: $small) {
	  height: .8rem;
	  width: .8rem;
	}
  }
}


/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */

.gutter-sizer {
  width: 30px;
  
  @media screen and (max-width: $large-xl) {
    width: 24px;
  }
  
  @media screen and (max-width: $large) {
    width: 20px;
  }
  
  @media screen and (max-width: $medium) {
    width: 30px;
  }  
}

.grid-portfolio {
  @include display(flex);
  
  .item-portfolio {
	width: calc(33% - 17px);
	margin: 0;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	
    @media screen and (max-width: $large-xl) {
      margin-bottom: 24px;
	  width: calc(33% - 13.5px);
    }	
	
	@media screen and (max-width: $large) {
      margin-bottom: 20px;
	  width: calc(33% - 11.2px);
    }
	
	@media screen and (max-width: $medium) {
	  margin-bottom: 30px;
      width: calc(50% - 16px);
    }
	
	@media screen and (max-width: $small) {
	  margin-bottom: 15px;
	  width: 100%;
    }
	
    &__inner {
      background-color: $gray-color-primary;
	  position: relative;
	  overflow: hidden;
	  height: 100%;
	  width: 100%;
	
	  &:hover .item-portfolio__hover {
        opacity: 1;
      }
	
	  &:hover .image__portfolio {
	    transform: scale(1.08);
      }
    }
	
    &__hover {
      background-color: rgba($gray-color-second,.7);
	  color: $white-color;
	  opacity: 0;
      position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  transition: all .8s ease-in-out;	
    }
  
    &__image {
      width: 100%;
      height: 100%;
	  transform: scale(1);
	  transition: opacity 0.35s, transform 0.35s;
      object-fit: cover;
	  font-family: 'object-fit: cover;'
    }  
  
	&__link {
	  display: block;
	  height: 100%;
	  width: 100%;
	  position: relative;
		
	  &::before,
      &::after {
	    content: '';
		background-color: $white-color;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		transform: translate3d(0,0,0);
	    transform: rotate(90deg) scale(0);
		transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
	  }
	  
	  &::before {
	  	height: 2px;
	    width: 42px;
	  }
	  
	  &::after {
		height: 42px;
		width: 2px;
	  }  
	}  

    &:hover .item-portfolio__link:before,
    &:hover .item-portfolio__link::after {
      transform: rotate(0deg) scale(1);
	}

	&__heading {
	  padding: 15px 20px; 
	  
	  .title__h5 {
	    //font-weight: $weight-500;
	    margin-bottom: 0;
	  }
	}	
  }
}


/* -----------------------------------------------------------------
    - Features
----------------------------------------------------------------- */

.features-box {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap); 
  align-items: center;
  min-height: 120px;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  background: $white-color;
  
  @media screen and (max-width: $small) {
    margin-bottom: 1rem;
  }
  
  &__iconWrap {
    margin-top: -.3rem;
  }
  
  .description__features {
    margin-left: 2rem;
    
	@media screen and (max-width: $large) {
      margin-left: 1.5rem;
    }
  
    [class^="title__"] {
	  //font-size: 1.3rem;
      margin-bottom: .5rem;
    }
	
	p {
	  color: $gray-color-second;
	  margin-bottom: 0;
	}
  }
}

.icon-box {
  background-color: rgba($tone-color,.05);
  border-radius: 40px;
  color: $tone-color;
  display: inline-block;
  flex: 1;
  padding: 16px;

  &--size-18 {
    font-size: 18px;
  }

  &--size-24 {
    font-size: 24px;
  }

  &--size-34 {
    font-size: 32px;
  }
}


/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */ 

@media screen and (max-width: 580px) {
  .skrollable {
     transform: none!important;
	 opacity: 1!important;
  }
}

.nicescroll-cursors {
  background-color: rgba(0, 0, 0, .07)!important;
}

// Table
.table>tbody>tr>td {
  border-top: 1px solid rgba(224, 231, 237, .8);
  color: $black-color;
  padding: 16px 0;
  
  @media only screen and (max-width: $small) {
    padding: 10px 0;
  }
}

.table>thead>tr>th {
  color: $gray-color-second;
  border-bottom: 1px solid rgba(224, 231, 237, .8);
  font-size: .9rem;
  font-weight: $weight-600;
  letter-spacing: .1rem;
  padding: 16px 0;
  text-transform: uppercase;
  
  @media only screen and (max-width: $small) {
    font-size: .75rem;
	padding: 10px 0;
  }
}

.table>thead>tr>th:first-child {
  width: 200px;
  
  @media only screen and (max-width: $small) {
    width: 140px;
  }
}


/* -----------------------------------------------------------------
    - Zoom effect
----------------------------------------------------------------- */ 

.mfp-zoom-in {
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}