/* ------------------------------------------------
 Author: ArtStyles (Art)
 
 Template Name: Documentation
 $version: "1.2";
------------------------------------------------ */
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(magnific-popup.css);
@import url(../fonts/font-awesome-4.7.0/css/font-awesome.min.css);
@import url(../fonts/stroke-gap-icons/style.css);
/* -----------------------------------------------------------------
    - General Styles
----------------------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  color: #070707;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 580px) {
  body {
    font-size: 14px;
    line-height: 1.6;
  }
}

/* -----------------------------------------------------------------
    - Typography
----------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

.title__h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 580px) {
  .title__h1 {
    font-size: 2.2rem;
    line-height: 1.32;
    margin-bottom: .6rem;
  }
}

.title__h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 580px) {
  .title__h2 {
    font-size: 1.8rem;
  }
}

.title__h3 {
  font-size: 1.8rem;
  margin-bottom: .8rem;
}
@media only screen and (max-width: 580px) {
  .title__h3 {
    font-size: 1.4rem;
  }
}

.title__h4 {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}
@media only screen and (max-width: 580px) {
  .title__h4 {
    font-size: 1rem;
  }
}

.title__h5 {
  font-size: 1rem;
  margin-bottom: .8rem;
}
@media only screen and (max-width: 580px) {
  .title__h5 {
    font-size: .875rem;
  }
}

.title__display {
  font-size: 4.5rem;
}
@media only screen and (max-width: 580px) {
  .title__display {
    font-size: 3rem;
  }
}

.section__subtitle {
  font-size: 1.1rem;
}
@media only screen and (max-width: 580px) {
  .section__subtitle {
    font-size: 1rem;
  }
}

.text-light {
  color: rgba(120, 125, 134, 0.5) !important;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
}

a {
  color: #05f;
  text-decoration: underline;
  -webkit-text-decoration-skip: objects;
  transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
a:hover {
  color: #070707;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: .2rem;
}

img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

iframe {
  margin-top: 10px;
  width: 100%;
}

kbd {
  background: #070707;
  font-size: .75rem;
}

.prettyprint {
  margin-bottom: 0;
  margin-top: .5rem;
}

::-moz-selection {
  background: #05f;
  color: #fff;
}

::selection {
  background: #05f;
  color: #fff;
}

/* -----------------------------------------------------------------
    - Preloader
----------------------------------------------------------------- */
.loading {
  background: #f5f6f6;
  color: #070707;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1100;
}
.loading .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -60px;
  margin-left: -60px;
}
.loading .preloader .rippling-1, .loading .preloader .rippling-2 {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #fff;
  animation: preloader 1.6s linear infinite;
}
.loading .preloader .rippling-2 {
  animation-delay: -0.8s;
}

@-webkit-keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
/* -----------------------------------------------------------------
    - Header
----------------------------------------------------------------- */
.navbar {
  background-color: #fff;
  box-shadow: 0 0 60px rgba(16, 19, 26, 0.06);
  height: auto;
  padding: 1rem 15px 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform .3s ease-in-out;
  z-index: 1000;
}
@media only screen and (max-width: 580px) {
  .navbar {
    padding: .8rem 0 1rem;
  }
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  list-style: none;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .nav {
    background-color: #fff;
    box-shadow: 0 0 60px rgba(16, 19, 26, 0.04);
    height: auto;
    padding-top: 3.8rem;
    padding-bottom: .8rem;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform .4s ease-in-out, opacity .4s .2s ease-in-out;
    width: 100%;
    z-index: -1;
  }
}
@media only screen and (min-width: 768px) {
  .nav {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media only screen and (max-width: 768px) {
  .open .nav {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.nav__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  font-weight: 500;
  margin: .5rem 0;
  padding-right: 3rem;
}
.nav__item:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  .nav__item {
    border-bottom: 1px solid #f5f6f6;
    margin: 0 30px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
  }
}
.nav__link {
  color: #070707;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  transition: all 0.6s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}
.nav__link:hover {
  text-decoration: none;
  color: #05f;
}

.logo-link {
  display: block;
}

.logotype {
  height: 40px;
  position: relative;
  transition: transform .4s ease-in-out;
}
@media only screen and (max-width: 580px) {
  .logotype {
    height: 16px;
  }
}

.hamburger {
  cursor: pointer;
  display: block;
  transform: translate3d(0, 0, 0);
  transition: opacity .3s ease;
  background-color: transparent;
  border: 0;
  padding: 0;
  vertical-align: middle;
}
@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navbar-compact .hamburger {
    display: block;
  }
}
.hamburger__inner {
  display: block;
  height: 24px;
  width: 25px;
  position: relative;
}
.hamburger__inner:before, .hamburger__inner:after {
  background-color: #070707;
  content: '';
  display: block;
  margin-left: -12px;
  height: 2px;
  width: 25px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform-origin: center center;
  transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s, transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.hamburger__inner:after {
  top: 16px;
}
.is-active .hamburger__inner {
  color: #070707;
}
.is-active .hamburger__inner:before, .is-active .hamburger__inner:after {
  top: 50%;
  transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}
.is-active .hamburger__inner:before {
  transform: rotate(45deg);
}
.is-active .hamburger__inner:after {
  transform: rotate(-45deg);
}

/* -----------------------------------------------------------------
    - Heading page
----------------------------------------------------------------- */
.page-hero {
  background: linear-gradient(to bottom, #fff 0%, #f6f5f9 100%);
  color: #070707;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34vw;
  padding-top: 3rem;
  position: relative;
  text-align: center;
  width: 100%;
}
.page-hero::before {
  content: '';
  display: block;
  background-image: url(../img/Subtract.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 120px;
  width: 150%;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .page-hero {
    height: 46vw;
  }
}
@media screen and (max-width: 992px) {
  .page-hero {
    height: 56vw;
  }
}
@media screen and (max-width: 580px) {
  .page-hero {
    height: 70vw;
  }
}
.page-hero .title__display {
  margin-top: 0;
  margin-bottom: 2rem;
}
@media screen and (max-width: 580px) {
  .page-hero .title__display {
    margin-bottom: 1rem;
  }
}
.page-hero .firts-paragraph {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  opacity: .7;
  width: 60%;
}
@media screen and (max-width: 1200px) {
  .page-hero .firts-paragraph {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  .page-hero .firts-paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    width: 100%;
  }
}

/* -----------------------------------------------------------------
    - Sections
----------------------------------------------------------------- */
.container {
  max-width: 90vw;
}
@media screen and (max-width: 580px) {
  .container {
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 80vw;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 70vw;
  }
}

.section {
  box-sizing: border-box;
  padding: 8vw 0;
}
@media screen and (max-width: 580px) {
  .section {
    padding: 65px 0;
  }
}
.section .heading {
  margin-bottom: 2.6rem;
}
@media screen and (max-width: 580px) {
  .section .heading {
    margin-bottom: 2rem;
  }
}
.section__gray {
  background-color: rgba(246, 245, 249, 0.4);
}

.shadow-box {
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(120, 125, 134, 0.05), 0 3px 6px rgba(120, 125, 134, 0.05), 0 10px 40px rgba(120, 125, 134, 0.1);
}

.alert {
  border: none;
  padding: .3rem 1rem;
  border-radius: 4px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.alert-info {
  color: rgba(0, 85, 255, 0.6);
  background-color: rgba(0, 85, 255, 0.08);
}
.alert-warning {
  color: rgba(255, 87, 34, 0.6);
  background-color: rgba(255, 87, 34, 0.08);
}

.separation {
  border-bottom: 1px solid #f5f6f6;
}

/* -----------------------------------------------------------------
    - Solution
----------------------------------------------------------------- */
.accordion__item {
  background-color: #fff;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 580px) {
  .accordion__item {
    margin-bottom: 1rem;
  }
}
.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.5rem 1.4rem;
  border-bottom: 1px solid rgba(120, 125, 134, 0.15);
  cursor: pointer;
}
.accordion__header:hover {
  color: #05f;
}
.accordion__header:hover .accordion__plus::after,
.accordion__header:hover .accordion__plus::before {
  background-color: #05f;
}
@media only screen and (max-width: 580px) {
  .accordion__header {
    padding: 1rem;
  }
}
.accordion__header .title__h4 {
  margin-bottom: 0;
}
.accordion__header.collapsed .accordion__plus {
  transform: rotate(90deg);
}
.accordion__header.collapsed .accordion__plus::after {
  opacity: 0;
}
.accordion__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  transition: all .15s ease-in-out;
}
.accordion__plus::after, .accordion__plus::before {
  content: '';
  background-color: #070707;
  position: absolute;
  transition: all .2s ease-out;
}
.accordion__plus::after {
  height: 1px;
  width: 100%;
}
.accordion__plus::before {
  height: 100%;
  width: 1px;
}
@media only screen and (max-width: 580px) {
  .accordion__plus {
    height: .8rem;
    width: .8rem;
  }
}

/* -----------------------------------------------------------------
    - Portfolio
----------------------------------------------------------------- */
.gutter-sizer {
  width: 30px;
}
@media screen and (max-width: 1200px) {
  .gutter-sizer {
    width: 24px;
  }
}
@media screen and (max-width: 992px) {
  .gutter-sizer {
    width: 20px;
  }
}
@media screen and (max-width: 768px) {
  .gutter-sizer {
    width: 30px;
  }
}

.grid-portfolio {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
}
.grid-portfolio .item-portfolio {
  width: calc(33% - 17px);
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .grid-portfolio .item-portfolio {
    margin-bottom: 24px;
    width: calc(33% - 13.5px);
  }
}
@media screen and (max-width: 992px) {
  .grid-portfolio .item-portfolio {
    margin-bottom: 20px;
    width: calc(33% - 11.2px);
  }
}
@media screen and (max-width: 768px) {
  .grid-portfolio .item-portfolio {
    margin-bottom: 30px;
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 580px) {
  .grid-portfolio .item-portfolio {
    margin-bottom: 15px;
    width: 100%;
  }
}
.grid-portfolio .item-portfolio__inner {
  background-color: #f5f6f6;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.grid-portfolio .item-portfolio__inner:hover .item-portfolio__hover {
  opacity: 1;
}
.grid-portfolio .item-portfolio__inner:hover .image__portfolio {
  transform: scale(1.08);
}
.grid-portfolio .item-portfolio__hover {
  background-color: rgba(120, 125, 134, 0.7);
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all .8s ease-in-out;
}
.grid-portfolio .item-portfolio__image {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: opacity 0.35s, transform 0.35s;
  object-fit: cover;
  font-family: "object-fit: cover;";
}
.grid-portfolio .item-portfolio__link {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}
.grid-portfolio .item-portfolio__link::before, .grid-portfolio .item-portfolio__link::after {
  content: '';
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  transform: rotate(90deg) scale(0);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.grid-portfolio .item-portfolio__link::before {
  height: 2px;
  width: 42px;
}
.grid-portfolio .item-portfolio__link::after {
  height: 42px;
  width: 2px;
}
.grid-portfolio .item-portfolio:hover .item-portfolio__link:before, .grid-portfolio .item-portfolio:hover .item-portfolio__link::after {
  transform: rotate(0deg) scale(1);
}
.grid-portfolio .item-portfolio__heading {
  padding: 15px 20px;
}
.grid-portfolio .item-portfolio__heading .title__h5 {
  margin-bottom: 0;
}

/* -----------------------------------------------------------------
    - Features
----------------------------------------------------------------- */
.features-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 120px;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  background: #fff;
}
@media screen and (max-width: 580px) {
  .features-box {
    margin-bottom: 1rem;
  }
}
.features-box__iconWrap {
  margin-top: -.3rem;
}
.features-box .description__features {
  margin-left: 2rem;
}
@media screen and (max-width: 992px) {
  .features-box .description__features {
    margin-left: 1.5rem;
  }
}
.features-box .description__features [class^="title__"] {
  margin-bottom: .5rem;
}
.features-box .description__features p {
  color: #787d86;
  margin-bottom: 0;
}

.icon-box {
  background-color: rgba(0, 85, 255, 0.05);
  border-radius: 40px;
  color: #05f;
  display: inline-block;
  flex: 1;
  padding: 16px;
}
.icon-box--size-18 {
  font-size: 18px;
}
.icon-box--size-24 {
  font-size: 24px;
}
.icon-box--size-34 {
  font-size: 32px;
}

/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */
@media screen and (max-width: 580px) {
  .skrollable {
    transform: none !important;
    opacity: 1 !important;
  }
}
.nicescroll-cursors {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.table > tbody > tr > td {
  border-top: 1px solid rgba(224, 231, 237, 0.8);
  color: #070707;
  padding: 16px 0;
}
@media only screen and (max-width: 580px) {
  .table > tbody > tr > td {
    padding: 10px 0;
  }
}

.table > thead > tr > th {
  color: #787d86;
  border-bottom: 1px solid rgba(224, 231, 237, 0.8);
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 16px 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 580px) {
  .table > thead > tr > th {
    font-size: .75rem;
    padding: 10px 0;
  }
}

.table > thead > tr > th:first-child {
  width: 200px;
}
@media only screen and (max-width: 580px) {
  .table > thead > tr > th:first-child {
    width: 140px;
  }
}

/* -----------------------------------------------------------------
    - Zoom effect
----------------------------------------------------------------- */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
